<!doctype html>
<html>
<head>
	<title>Spoon or Bowl?</title>

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

</head>

<body>
	<h1>Spoon or Bowl?</h1>

    <h2>Last image</h2>
    <p> Your rating for {{ last_image }}: {{ last_score }} </p>
    <p> Mean rating for {{ last_image }}: {{ mean_score }} </p>

	<div class="image">
		<img src="/static/images/{{ image }}">
	</div>

    <form action="/process" method="POST">
        <input type="range" name={{ image }} min="0" max="10">
        <input type="submit">
    </form>


<scipt src="/static/js/script.js"
</body>

</html>
