<!doctype html>
<html>
<head>
	<title>Spoon or Bowl?</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <script type="text/javascript"
     href="{{ url_for('static', filename='main.js') }}"></script>

</head>

<body>
    <script type="text/javascript">
        function spoonOrBowl(value) {
            if (value > 5) {
                return 'Spoon';
            } else if (value < 5) {
                return 'Bowl';
            } else {
                return 'Neither';
            }
        }

        function updateFrom(value) {
            imageOutput.value = spoonOrBowl(value);
        }
    </script>
	<h1>Spoon or Bowl?</h1>

    <h2>Last image</h2>
    <p> Your rating for {{ last_image }}: {{ last_score }} </p>
    <p> Mean rating for {{ last_image }}: {{ mean_score }} </p>

	<div class="image">
		<img src="/static/images/{{ image }}">
	</div>

    <form action="/process" method="POST">
        <input type="range" id="imageRange" name={{ image }} min="0" max="10"
        step="0.25"
        oninput="updateFrom(imageRange.value);"><br>
        <div id="outputLabel">
            <output name="imageOutput" id="imageOutput">Neither</output><br>
        </div>
        <input type="submit">
    </form>


</body>

</html>
